html {
    background: url(../images/back.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Helvetica Neue', sans-serif;
}


.prof-box {
    width: 400px;
    height: 450px;
    background: rgba(0,0,0,0,4);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    display: none;
}

.prof-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.prof-box h1{
    font-weight: 100;
    letter-spacing: 6;
    font-size: 40px;
}

.prof-box p{
    font-weight: 200;
    letter-spacing: 1;
}

.prof-box .line-break{
    width: 325px;
    border-top: 1px solid white;
    margin: 0 auto;
}

.prof-box ul{
    margin: 0;
    padding: 0;
}

.prof-box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.prof-box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;


}


.prof-box li a:hover{
    color: #b9b9b9;
}





.nav{
    width: 350px;
    height: auto;
    position: absolute;
    top: 20%;
    left: 0;

}

.nav a{

    text-decoration: none;
    font-size: 28px;
    font-family: verdana;
    font-weight: bold;
    width: 100%;
    height: 90px;
    margin: 5px 0;
    float: left;
    display: inline-block;
    background-color: rgba(0,0,0,0,4);
    color: white;
    line-height: 90px;
    text-align: center;

}


a.active,.nav a:hover{
    background-color: white;
    color: black;
    width: 100%;
}


.content{
    position: absolute;
    width: 900px;
    min-height: 500px;
    height: auto;
    #background-color: red;
    right: 0;
    top: 10%;
}

.home{
    position: absolute;
    right: 0;
    bottom: -50px;
    color: white;
    font-family: Verdana;
}

.home h1{
    font-size: 85px;
    padding-right: 90px;
    border-bottom: 1px solid white;
    text-transform: uppercase;
}

.home h3{
    font-size: 28px;
    padding: 5px 0;
    opacity: 0.6;
}

.about{
    position: absolute;
    right: 0;
    top: 0px;
    color: black;
    font-family: gothic;
    padding: 0 60px;
    display: none;
    background-color: white;
}

.about p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;

}