html {
    background: url(../images/back.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Helvetica Neue', sans-serif;
}


.prof-box {
    width: 400px;
    height: 450px;
    background: rgba(0,0,0,0,4);
    padding: 40px;
    color: aqua;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.prof-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

h1{
    font-weight: 100;
    letter-spacing: 6;
    font-size: 40px;
}

p{
    font-weight: 200;
    letter-spacing: 1;
}

.line-break{
    width: 325px;
    border-top: 1px solid white;
    margin: 0 auto;
}

ul{
    margin: 0;
    padding: 0;
}

.prof-box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.prof-box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;


}


.prof-box li a:hover{
    color: #b9b9b9;
}